@{
  Layout = "_Layout";
}

<h1>Add a Testimonial for this Event</h1>

<form action="/addtestimonials" method="post">  
@* IS ACTIONROUTE INCORRECT *@
  <label for="story">Tell your story:</label>
  <input id="story" name="story" type="text">

  <label for="management">Did management get involved and were they helpful?</label>
  <input id="management" name="management" type="text">

  <label for="other">Is there anything else people should know?</label>
  <input id="other" name="other" type="text">

  <button type="submit">Submit this Testimonial</button>

</form>