@{
  Layout = "_Layout"
}

<h1> Add a new Event </h1>

<form action="/events" method="post">
<label for="name">Event name</label>
<input id="name" name="name" type="text">
<label for="EventDate">Event Date</label>
<input id="EventDate" name="EventDate" type="text">
<label for="name">Event name</label>
<input id="name" name="name" type="text">