@{
  Layout = "_Layout";
}

<h1>Add a Testimonial</h1>

<form action="/testimonials" method="post">
  <label for="story">Tell your story:</label>
  <input id="story" name="story" type="text">

  <label for="management">Did management get involved and were they helpful?</label>
  <input id="management" name="management" type="text">

  <label for="additional">Is there anything else people should know?</label>
  <input id="additional" name="additional" type="text">

  <button type="submit">Submit this Testimonial</button>

</form>