@{
  Layout = "_Layout";
}
<div class="testimonial-form input-style-testimonial">

  <h1>Add a Testimonial for this Venue</h1>

  <form action="/addtestimonials" method="post">  

    <div class="form-group">
      <label for="story">Tell your story:</label>
      <input id="story" class="form-control mr-sm-2 testimonial-input" name="story" type="text">
    </div>

    <div class="form-group">
      <label for="management">Did management get involved and were they helpful?</label>
      <input id="management" class="form-control mr-sm-2 testimonial-input" name="management" type="text">
    </div>

    <div class="form-group">
      <label for="other">Is there anything else people should know?</label>
      <input id="other" class="form-control mr-sm-2 testimonial-input" name="other" type="text">
    </div>

    <button type="submit" class="btn btn-primary testimony-btn">Submit this Testimonial</button>

  </form>

</div>