@{
  Layout = "_Layout";
}

<h1>Add a Testimonial for this Venue</h1>

<form action="/addtestimonials" method="post">  
@* IS ACTIONROUTE INCORRECT? *@

  <label for="story">Tell your story:</label>
  <input id="story" class="form-control mr-sm-2" name="story" type="text">

  <label for="management">Did management get involved and were they helpful?</label>
  <input id="management" class="form-control mr-sm-2" name="management" type="text">

  <label for="other">Is there anything else people should know?</label>
  <input id="other" class="form-control mr-sm-2" name="other" type="text">

  <button type="submit" class="btn btn-primary">Submit this Testimonial</button>

</form>