@{
  Layout = "_Layout";  
}

<h1>Create New Review</h1>

<form action="/places/create" method="post">
  <label for="name">Place Name:</label>
  <input id="name" class="form-control mr-sm-2" name="name" type="text">
  <label for="type">Type:</label>
  <input id="type" class="form-control mr-sm-2" name="type" type="text">
  <label for="formatted_address">Address:</label>
  <input id="formatted_address" class="form-control mr-sm-2" name="formatted_address" type="text">
  <label for="restroomFeatures">RestroomFeatures:</label>
  <input id="restroomFeatures" class="form-control mr-sm-2" name="restroomFeatures" type="text">

  <button type="submit">Save</button>
</form>
    
