@{
  Layout = "_Layout";  
}

<h1>Create New Review</h1>

<form action="/places/create" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">
  <label for="type">Type:</label>
  <input id="type" name="type" type="text">
  <label for="formatted_address">Address:</label>
  <input id="formatted_address" name="formatted_address" type="text">
  <label for="restroomFeatures">RestroomFeatures:</label>
  <input id="restroomFeatures" name="restroomFeatures" type="text">

  <button type="submit">Save</button>
</form>
    

