@{
  Layout = "_Layout";
}

@model SaferSpacesClient.Models.Places

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.Place): @Html.DisplayFor(model => model.Place)


@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

@Html.ActionLink("Back to Places list", "Index")