
@{
  Layout = "_Layout";
}

<h1>Details for this location:</h1>
<div class="grid-container">
  <div class="details-grid-item">
    <h1>@Model.Name</h1>
    <p>@Model.Formatted_Address</p>
    <li> Add a testimonial: @Html.ActionLink("Add", "AddTestimonials", new {id = Model.Place_Id} )
  </div>
</div>