@{
  Layout = "_Layout";
}

@{
  ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>
<ul>
<li>Type: @Model.Type</li>
<li>Address: @Model.Address</li>
<li>Restroom: @Model.RestroomFeatures</li>
</ul>