@{
  Layout = "_Layout";
}

<h3> Search Results </h3>
<ol>
  <div class="grid-container">
    @foreach (Place place in Model)
    {
      <div class="grid-item">
          <ul>
              <li>Name: @Html.ActionLink($"{@place.Name}", "Details", new {id = @place.Place_Id})</li>
              <li>Address: @place.Formatted_Address</li>
              
          </ul>
      </div>
    }
  </div>
</ol>