@{
  Layout = "_Layout";
}

<div class="form">
  @using (Html.BeginForm("Index", "Places", new { @class="form-inline my-2 my-lg-0 form-control"}))
  {
    <div class="row">
      <div class="col-sm-12">
        @Html.TextBox("searchRequest", null, new {@class="form-control box-style search-align", @placeholder = "Search venues"})
        <input id="search-btn" type="submit" value="Go!" class="form-control mr-sm-2 btn btn-secondary search-align"/>
      </div>
    </div>
  }
</div>

<div class="about-box">
  <div class="about">
    <h3>About this App</h3>
    <p>I'm baby keytar green juice migas pug bitters, portland knausgaard truffaut live-edge brooklyn ennui next level pinterest. Butcher crucifix jean shorts master cleanse, artisan direct trade vinyl fam mixtape leggings pork belly. Pug jean shorts woke, tumblr single-origin coffee drinking vinegar la croix humblebrag post-ironic messenger bag readymade crucifix pinterest. Trust fund glossier pork belly, sriracha coloring book kogi tacos 90's vinyl cloud bread semiotics subway tile. Blue bottle vice irony post-ironic. Selfies health goth salvia art party jianbing try-hard freegan poutine hoodie you probably haven't heard of them pour-over vegan typewriter.</p>
  </div>
</div>

