@{
  Layout = "_Layout";
}

<div class="form">
  @using (Html.BeginForm("Index", "Places", new { @class="form-inline my-2 my-lg-0 form-control"})) //needs null?
  {
    <div class="row">
      <div class="col-sm-12">
        @Html.TextBox("searchRequest", null, new {@class="form-control input-style-home search-align", @placeholder = "Search venues"})
        <input id="search-btn" type="submit" value="Go!" class="form-control mr-sm-2 btn btn-secondary search-align"/>
      </div>
    </div>
  }
</div>

<div class="about-box">
  <div class="about">
    <h3>About Safer Spaces</h3>
    <p>Safer Spaces is a place</p>
  </div>
</div>

