@{
  Layout = "_Layout";
}

<h1>Home Page</h1>

@using (Html.BeginForm("Index", "Places", new { @class="form-inline my-2 my-lg-0 form-control", @placeholder = "Search venues"}))
{
  @Html.TextBox("searchRequest")

  <input type="submit" value="Go!" class="form-control mr-sm-2"/>
}

@* // @using (Html.BeginForm("Index", "Treats",  new { @class= "form-inline my-2 my-lg-0" }))
          {
            <input class="form-control mr-sm-2" type="text" placeholder="Treat Description">
            <button class="btn my-2 my-sm-0" type="submit">Search Treats</button>
          }       *@